.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movieInfo {
  display: flex;
  margin-bottom: 20px;
}

.poster {
  width: 200px;
  height: auto;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details {
  flex: 1;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.score {
  font-size: 18px;
  color: #007bff;
  margin-bottom: 10px;
}

.overview {
  margin-bottom: 20px;
}

.genres {
  margin-bottom: 20px;
}

.genres span {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 0.25rem;
}

.link {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.link:hover {
  color: #ff8c00;
}

.cast-reviews {
  margin-top: 20px;
}
